@font-face{
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Gothic;
    src: url(../font/sketch_gothic_school/Sketch\ Gothic\ School.ttf);
}

/* geral */
*{
    margin: 0%;
    padding: 0%;
    font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: Gothic;
}

section{
    width: 100%;
    padding: 10px 0px;
    display: flex;
}

.tituloSection{
    text-align: center;
    font-weight: bold;
}

.subtituloSection{
    text-align: center;
    font-size: 10pt;
    color: rgb(36, 36, 36);
}

/* header */
header{
    width: 100%;
}
#banner{
    height: 500px;
    justify-content: center;
    background-image: url(../Images/geral/cabe.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: 100px;
    height: 100px;
    background-image: url(../Images/logo/logo_vou_de_bike.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
}

ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    gap: 200px;
}
nav a{
    text-decoration: none;
    color: white;
}

/* TOPICOS */
#topicos{
    gap: 20px;
    justify-content: center;
}

.topicoGrupo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px 0px;
}

.topicoImagem{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-top: 20px;
}

.topicoGrupo button{
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    cursor: pointer;
}

#topicoDicas{
    background-image: url(../Images/geral/dica.png);
}

#topicoNoticias{
    background-image: url(../Images/geral/noticias.png);
}

#topicoEquipamento{
    background-image: url(../Images/geral/equipamentos.png);
}

#agenda{
    flex-direction: column;
    background-color: rgb(131, 130, 130);
    gap: 20px;
}

#seletores{
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

#seletores select{
    width: 300px;
    height: 30px;
}

#eventos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.evento{
    width: 200px;
    height: 150px;
    display: flex;
    font-size: 8pt;
}

.dataEvento{
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: rgb(218, 217, 217);
}

.evento button{
    border: none;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}

.descEventos{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 8px;
}

/* GALERIA */
#galerias{
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#galeria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.galeriaImg{
    width: 20%;
    height: 130px;
}

.galeriaImg img{
    width: 100%;
    height: 100%;
}

/* EMAIL */
#emailSecao{
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#email{
    width: 80%;
    height: 30px;
}

#cadastrar{
    width: 200px;
    background-color: black;
    color: white;
}

/* FOOTER */
footer{
    width: 100%;
    background-color: rgb(26, 26, 26);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

.redes{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8pt;
    text-align: center;
}

.redes img{
    width: 100%;
}