@font-face{
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Gothic;
    src: url(../font/sketch_gothic_school/Sketch\ Gothic\ School.ttf);
}

/* geral */
*{
    margin: 0%;
    padding: 0%;
    font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: Gothic;
}

section{
    width: 100%;
    padding: 10px 0px;
    display: flex;
}

/* header */
header{
    width: 100%;
}
#banner{
    height: 500px;
    justify-content: center;
    background-image: url(../Images/geral/cabe.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: 100px;
    height: 100px;
    background-image: url(../Images/logo/logo_vou_de_bike.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
}

ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    gap: 200px;
}
nav a{
    text-decoration: none;
    color: white;
}

/* TOPICOS */
#topicos{
    gap: 20px;
    justify-content: center;
}

.topicoGrupo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px 0px;
}

.topicoImagem{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-top: 20px;
}

.topicoGrupo button{
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    cursor: pointer;
}

#topicoDicas{
    background-image: url(../Images/geral/dica.png);
}

#topicoNoticias{
    background-image: url(../Images/geral/noticias.png);
}

#topicoEquipamento{
    background-image: url(../Images/geral/equipamentos.png);
}

/* FOOTER */
footer{
    width: 100%;
    background-color: rgb(26, 26, 26);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

.redes{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8pt;
    text-align: center;
}

.redes img{
    width: 100%;
}