:root{
    --corMarrom : #302727;
    --corVermelha : #ba2d2d;
    --corLaranja : #f2511b;
    --corAmarela : #f2861b;
    --corNeon : #c7c7306c;
    --corBranco : white;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: var(--corBranco);
}

button{
    cursor: pointer;
}

/* HEADER e FOOTER */

header , footer{
    width: 100%;
    display: flex;
    color: white;
    background-color: #ba2d2d;
    padding: 20px 0px;
}

header{
    justify-content: space-between;
}

footer{
    justify-content: center;
}

nav ul{
    margin: 5px 20px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

nav ul img{
    width: 60px;
}

header button{
    display: flex;
    align-items: center;
    margin: 5px 20px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--corBranco);
}

/* MAIN */

main{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
    width: 100%;
    height: 1000px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #302727;
    background-image: url(../images/banner.jpg);
}

.text{
    display: flex;
    flex-direction: column;
    width: 30%;
    top: 50%;
    position: absolute;
    padding: 10px;
    background-color: var(--corNeon);
}

.text h2{
    font-size: 25pt;
    margin: 5px 0px;
    margin-left: 10px;
}

.text p{
    font-size: 10pt;
    margin: 5px 0px;
}

.text button{
    width: 200px;
    border-radius: 4px;
    align-items: center;
    margin: 15px 0px;
    padding: 10px;
    border: 2px solid var(--corAmarela);
    background-color: var(--corMarrom);
}

/* PAGAMENTO MAIN */

#pagamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

#Pagamento{
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pagamento button{
    width: 200px;
    height: 280px;
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--corMarrom);
    border-radius: 2px;
}

/* SERVIÇOS MAIN */

#servicos{
    width: 100%;
    height: 500px;
    display: flex;
    margin: 40px 0px;
    justify-content: space-between;
    background-color: #302727;
}

#contrate{
    width: 45%;
    display: flex;
    font-size: 18pt;
    flex-direction: column;
    justify-content: center;
    color: var(--corBranco);
}

#contrate h2{
    margin: 10px 25px;
}

#contrate p{
    margin: 5px 15px;
}

#servicos img{
    margin: 20px 0px;
    border-radius: 5px;
    width: 45%;
}

/* CLIENTE */

#cliente h3{
    display: flex;
    justify-content: center;
}

#cliente{
    width: 100%;
}

#Cartao{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cartao{
    width: 300px;
    height: 300px;
    margin: 30px 0px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cartao1{
    background-image: url(../images/cartaoUm.jpg);
}

#cartao2{
    background-image: url(../images/cartaoDois.jpg);
}

#cartao3{
    background-image: url(../images/cartaoTres.jpg);
}

/* HORARIO */

#horario{
    width: 50%;
    border: 1px solid rgb(124, 123, 123);
    border-radius: 7px;
    background-color: white;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 30px;
}

table{
    width: 98%;
    border-collapse: collapse;
    margin: 9px 0px;
}

th{
    border: 1px solid rgb(0, 0, 0);
    background-color: #ba2d2d;
    color: white;
    padding: 5px;
}

td{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.459);
}

th:empty{
    background-color: transparent;
    border: none;
}

th:hover{
    background-color: white;
    color: #ba2d2d;
}

th:empty:hover{
    background-color: transparent;
}