/* (*) = configuração geral */
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(168, 0, 0);}

    #cabecalho{
        width: 100%;
        background-color: rgba(255, 153, 0, 0.363);
        padding: 15px 0px;}

    #cabecalho img{
        /* altura da imagem referencia altura do cabeçalho */
        height: 30px;
        width: 30px;
        margin-left: 20px;}

    a{
        color: aliceblue;
        text-decoration: none;
        margin: 20px;}

    #banner{
        width: 80%;
        height: 250px;
        margin: 20px auto;
        border-radius: 10px;
        /* background image = puxa a imagem */
        background-image: url("images/olhar\ de\ pena.jpg");
        /* background size = controla as dimensões da imagem */
        background-size: cover;
        /* background repeat = controla as repetições */
        background-repeat: no-repeat;
        /* background position = controla a posição foco do background */
        background-position: center;}
        

    #conteudo{
        width: 80%;
        /* margin / padding */
        /* 1 valor = todos os lados */
        /* 2 valores = eixo y (cima e baixo), eixo x (direita e esquerda) */
        /* 4valores = sentido horário (cima, direita, baixo e esquerda) */
        margin: 10px auto;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        background-color: rgb(247, 209, 138);}